<!doctype html>

<html>
<head>
	<title> CSE Labs Weather App</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href = "css/metro-bootstrap.css" rel = "stylesheet">
	<link href = "css/style.css" rel = "stylesheet">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.css">
	<script src = "js/jquery-2.1.0.min.js"></script>
	<script src = "js/bootstrap.min.js"></script>
	<script src = "routes/index.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.1/jquery.mobile-1.4.1.min.js"></script>

<script>
	jQuery(document).ready(function($) 
	{
      $(".clickableRow").click(function() 
      {
      	var name = $(this).attr("id");
		window.document.location = $(this).attr("href");
      	//var name = $(this).attr("id");
      	//$("#reload").load("labs.html");
      });
	});
</script>
</head>

<body style = "overflow-x: hidden; overflow-y: scroll;">

  <div data-role="header" class="jqm-header ui-header ui-bar-f ui-header-fixed 
  	slidedown" data-theme="a" data-position="fixed" role="banner ">
   	<h1 class="ui-title" role="heading" aria-level="1"><strong>CSE Labs App</strong></h1>
    <a href="#" class="ui-btn ui-corner-all ui-icon-home ui-btn-icon-notext">Home Icon</a>
    <a href="contactus" class="ui-btn ui-corner-all ui-icon-info ui-btn-icon-notext">Info Icon</a>
  </div>
	
<h1 style = "margin-left:10%; color:blue;"> Today is
<script type="text/javascript">
var currentTime = new Date();
var month = currentTime.getMonth() + 1;
var day = currentTime.getDate();
var year = currentTime.getFullYear();
document.write(month + "/" + day + "/" + year);
</script>
</h1>
<div id = "reload">
{{#each projects}}
	<div class="project" id = "{{id}}">
  	<table class="table">
    		<tr class='clickableRow' href="labs/{{name}}-{{stank}}-{{crowd}}" id = "{{id}}"
    		onclick = "_gaq.push(['_trackEvent', 
					'roomPressed', 'lab', 'labRoom']);">
                <td style = "width:95%"><h1>{{name}}</h1>
                <div style = "float:left; width:45%;">
                	<h5 style = "text-align:left; margin-left:10%;">Stank Meter :</h5>
                	<div class="progress" style = " align:right; width:100%;">
  						<div class="progress-bar" role="progressbar" aria-valuenow="{{stank}}" 
  						aria-valuemin="0" aria-valuemax="100" style="width: {{stank}}%;">
    						{{stank}}%
  						</div>
					</div>
				</div>
				<div style = "float:left; width:45%; margin-left:5%;">
                	<h5 style = "margin-left:5%;">Crowd Meter :</h5>              
                	<div class="progress" style = " align:left; width:100%;">
  						<div class="progress-bar" role="progressbar" aria-valuenow="{{crowd}}" 
  						aria-valuemin="0" aria-valuemax="100" style="width: {{crowd}}%;">
    						{{crowd}}%
  						</div>
  					</div>
  				</div>
  				</td>
  				<td style = "width:5%">
  				<h1 style = "margin-top:200%;">></h1>
  				</td>
       		</tr>
  	</table>
	</div>
{{/each}}
</div>	
	<hr>
	<p class="text-center">
    &copy; 2014, //TODO -- CSE 170
	</p>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48437362-2', 'none');
  //ga('create', 'UA-48437362-2', 'todocse170.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
